@tailwind base;
@tailwind components;
@import "./components.css";
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f6f6f6;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.peopleName {
  font-size: 13px;
  font-weight: 600;
  color: #111;
}

.peopleInfo {
  font-size: 9px;
  font-weight: 400;
  color: #555;
  padding-left: 3px;
}
